@mixin overlay ($number) {
  background-image:url("/images/overlays/InReach_overlay_#{$number}.png");
  background-repeat:no-repeat;
  margin-left: -50px;
  margin-right: -50px;
  height: 670px;
  @media (max-width: 1024px) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@mixin headshot ($avatar) {
  background-image:url("/images/#{$avatar}");
  max-width: 770px;
  max-height: 770px;
}

.location {
  &:before {
    @include ion-icon('location')
  }
}

.marco-headshot {
  @include headshot("marco.png")
}
.eduardo-headshot {
  @include headshot("eduardo.jpg")
}
.navid-headshot {
  @include headshot("navid.jpg")
}
.carlo-headshot {
  @include headshot("carlo.jpg")
}
.murat-headshot {
  @include headshot("murat.jpg")
}
.andrius-headshot {
  @include headshot("andrius2.jpg")
}
.overlay-1 {
  @include overlay(1)
}
.overlay-2 {
  @include overlay(2)
}
.overlay-3 {
  @include overlay(3)
}
.overlay-4 {
  @include overlay(4)
}
.overlay-5 {
  @include overlay(5)
}
