.location {
  &:before {
    @include ion-icon('location')
  }
}

.marco-headshot {
  background-image:url("/images/marco.png");
}
.eduardo-headshot {
  background-image:url("/images/eduardo.jpg");
}
.navid-headshot {
  background-image:url("/images/navid.jpg");
}
