// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Import Modules
@import '../_modules/map/map';

body {
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: normal;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#name img {
  width: 200px;
}
.postfix {
  color: darkgrey;
  display: block;
  font-size: 19px;
  line-height: 1.36842;
  font-weight: 400;
  letter-spacing: normal;
}
iframe {
  margin-left: auto;
  margin-right: auto;
}
.content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 802px) {
  .left-medium {
    float: left;
  }
  .right-medium {
    float: right;
  }
  #name {
    padding-top: 200px;
    img {
      width: 400px;
    }
  }
}
