.bg-team-3{
  background-image:url("/images/team_3.jpg");
  max-width: 2592px;
  margin-left: auto;
  margin-right: auto;
}

.small-padding-top {
  padding-top: 0;
}

.large-padding-bottom {
  padding-bottom: 80px;
}

.container.bloc-lg {
  padding: 75px 0 10px 0;
}

.social-links {
  font-weight: bold;
  font-size: 18px;
}

.linkedin {
  padding-top: 2px;
}

@media (min-width: 1536px) {
  .bg-team-3 {
    min-height: 700px;
  }
}

.about-section {
  margin-top: 75px;

  .about-header {
    h3 {
      font-size: 28px;
    }
  }

  .about-description {
    p {
      font-size: 20px;
      margin-top: 20px;
      padding: 0 20px;
    }
  }
}

.our-team {
  text-align: center;
  margin-top: 60px;
}

.person-bloc {
  p {
    font-size: 18px;
  }
  .person-image {
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 70%;
    margin-bottom: 40px;

    &.john {
      background-image: url('/images/john.png');
    }

    &.roberto {
      background-image: url('/images/roberto.png');
    }

    &.ben {
      background-image: url('/images/ben.png');
    }

    &.karolina {
      background-image: url('/images/karolina.png');
    }

    &.walter {
      background-image: url('/images/walter.png');
    }

    &.adam {
      background-image: url('/images/adam.png');
    }

    &.ghyslain {
      background-image: url('/images/ghyslain.png');
    }

    &.DIG {
      background-image: url('/images/DIG.png');
    }

    &.DIG:hover {
      background-image: url('/images/pushAllButtons.gif');
    }
  }
}

.person-image.DIG {
  margin-bottom: 30px;
}

.DIG {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  &>div.container {
    padding-left: 20px;
    padding-right: 20px;

    .row {
      background: #f2fbeb;
    }
  }
}

@media (max-width: 768px) {
  .about-section {
    padding: 20px;
    margin-top: 0;
  }
}
